/* page colors */
:root {
    --lightest: #ffffff;
    --past: #d3d3d3;
    --current: #f1d472;
    --future: #77dd77;
    --savebtn: #06aed5;
    --darkest: #000000;
}

/* general styling */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}
  
textarea {
    background: transparent;
    border: none;
    resize: none;
    color: var(--darkest);
    border-left: 1px solid var(--darkest);
    padding: 10px;
}
  
.jumbotron {
    text-align: center;
    background-color: transparent;
    color: var(--darkest);
    border-radius: 0;
    border-bottom: 10px solid var(--darkest);
}
  
.description {
    white-space: pre-wrap;
}
  
.time-block {
    text-align: center;
    border-radius: 15px;
}
  
.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid var(--lightest);
}
  
.hour {
    background-color: var(--lightest);
    color: var(--darkest);
    border-top: 1px dashed var(--darkest);
}

/* box color styling */
.past {
    background-color: var(--past);
    color: var(--lightest);
}
  
.present {
    background-color: var(--current);
    color: var(--lightest);
}
  
.future {
    background-color: var(--future);
    color: var(--lightest);
}

/* button styling */
.saveBtn {
    border-left: 1px solid var(--darkest);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--savebtn);
    color: var(--lightest);
}
  
.saveBtn:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.btn {
    margin: 20px;
    border-radius: 15px;
}

.btn:hover {
    font-size: 22px;
    transition: all 0.3s ease-in-out;
}